#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0
 PRODUCTVERSION 1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "B99"
            VALUE "FileDescription", "Grabs running process binaries and saves them with SHA256 hash names"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "BinGrabber"
            VALUE "OriginalFilename", "bin_grabber.exe"
            VALUE "ProductName", "BinGrabber"
            VALUE "ProductVersion", "1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}